<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
        <br><br><br>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <div class="row">
            
                <div class="col-md-3">
                   
                    
                </div>
               
                
                <div class="col-md-6" style="border: 1px solid lightslategray; border-radius: 15px;">
                    <br>   
                    <h5 class="text-center">Registration</h5>
                    
                    <form class="form-horizontal" action='' method="POST">
                            <div class="form-group">
                                    <label for="usrname">Username</label>
                                    <input type="text" class="form-control" id="usrname" aria-describedby="userHelp" placeholder="Enter Username">
                                    
                                  </div>
                        <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                
                              </div>
                        <div class="form-group">
                          <label for="pass">Password</label>
                          <input type="password" class="form-control" id="pass" placeholder="Password" maxlength="25" minlength="8"> 
                          <small id="passwordHelpBlock" class="form-text text-muted">
                                Your password must be 8-25 characters long
                              </small>
                        </div>
                        <div class="form-group">
                                <label for="contact">Contact Number</label>
                                <input type="text" class="form-control" id="contact" aria-describedby="userHelp" placeholder="Enter your contact number">
                                
                              </div>
                       <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox">
                                    <label class="form-check-label" for="checkbox">
                                      I Agree to the terms and conditions.
                                    </label>
                        </div>
                        <br>
                     <div align="center">         
                        <button type="submit" class="btn btn-success" >Submit</button>
                        <button type="reset" class="btn btn-primary">Reset</button>
                    </div>
                    <br>
                      </form>    
                     
                </div>
               

</body>
</html>